{{ if (not (eq .Site.Params.utterances.repo "")) }}

{{ $term := "pathname" }}
{{ $theme := "github-light" }}
{{ $crossorigin := "anonymous"}}

<script src="https://utteranc.es/client.js"
        repo="{{ .Site.Params.utterances.repo }}"
        issue-term="{{ .Site.Params.utterances.term | default $term }}" 
        theme="{{ .Site.Params.utterances.theme | default $theme }}"
        crossorigin="{{ .Site.Params.utterances.crossorigin | default $crossorigin }}"
        async>
</script>

{{ end }}
